body {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  background: image-url('bg.jpg') fixed;
  background-size: cover;
}

.header {
  padding: 170px 30px 80px;
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}

.site {
  &-title {
    margin: 50px;
    font-size: 4.5rem;
    &-sub {
      margin: 0 0 30px;
      letter-spacing: 1px;
      font-size: 1.2rem;
    }
  }
  &-description {
    margin-bottom: 50px;
    color: #888
  }
}

.profile {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 30px auto;
  & img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #ffffff;
  color: #333;
  &-text {
    width: 600px;
    line-height: 2.5;
    text-align: left;
  }
}

.heading {
  display: inline-block;
  position: relative;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  border-bottom: double 4px #999;
}

.works {
  height: 100vh;
  background-color: #383634;
  padding: 80px 0 10px;
  &-wrapper {
    display: table;
    width: 860px;
    margin: 60px auto 0;
    table-layout: fixed;
  }
}

.work {
  &-box {
    position: relative;
    display: table-cell;
    background-color: rgba(100, 100, 100, 0.3);
    border: 1px solid #333;
  }
  &-image {
    display: block;
    width: 100%;
  }
  &-description {
    margin: 20px 0;
  }
  &-text {
    margin: 10px auto 10px;
    font-size: 1.2rem;
    line-height: 2;
  }
  &-description .button {
    width: 60%;
    margin-top: 20px;
    padding: 3px;
  }
}


.contact {
  height: 100vh;
  padding: 80px 0 150px;
  background-color: rgba(25, 25, 120, 0.9);
  &-form {
    width: 50%;
    margin: 50px auto 0 ;
    & textarea {
      height: 150px;
    }
    & input[type=submit] {
      display: block;
      width: 200px;
      margin: 40px auto 0;
      padding: 15px;
      border: 1px solid raga(255, 255, 255, 0.8);
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

.contact-form input[type=text], .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid raga(255, 255, 255, 0.8);
  border-radius: 0;
  color: #333;
}
